### Rapid Overview
- build intuition about pandas
- details later

documentation: http://pandas.pydata.org/pandas-docs/stable/10min.html
https://www.linkedin.com/learning/pandas-for-data-science/object-creation

In [4]:
import pandas as pd
import numpy as np

##### Basic series; default integer index
documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

In [2]:
my_series = pd.Series([1,3,5,np.nan,6,8])
my_series

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

##### datetime index
documentation: http://pandas.pydata.org/pandas-docs/stable/timeseries.html

In [3]:
my_dates_index = pd.date_range('20160101', periods=6)
my_dates_index

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
my_dates_index=list(np.arange(6))

##### sample NumPy data

In [8]:
np_array = np.arange(24).reshape((6,4))

In [9]:
list('abcd')

['a', 'b', 'c', 'd']

##### sample data frame, with column headers; uses our dates_index
documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [14]:
pd.DataFrame(np_array, index =my_dates_index, columns=list('abcd'))

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23

##### data frame from a Python dictionary

In [15]:
df_from_dictionary = pd.DataFrame({ 
                         'float' : 1.,
                         'time' : pd.Timestamp('20160825'),
                         'series' : pd.Series(1,index=list(range(4)),dtype='float32'),
                         'array' : np.array([3] * 4,dtype='int32'),
                         'categories' : pd.Categorical(["test","train","taxes","tools"]),
                         'dull' : 'boring data' 
                      })
df_from_dictionary

   array categories         dull  float  series       time
0      3       test  boring data    1.0     1.0 2016-08-25
1      3      train  boring data    1.0     1.0 2016-08-25
2      3      taxes  boring data    1.0     1.0 2016-08-25
3      3      tools  boring data    1.0     1.0 2016-08-25

##### pandas retains data type for each column

In [16]:
df_from_dictionary.dtypes

array                  int32
categories          category
dull                  object
float                float64
series               float32
time          datetime64[ns]
dtype: object

##### head and tail; default is 5 rows

##### underlying data: values, index and columns

In [17]:
df_from_dictionary.values

array([[3, 'test', 'boring data', 1.0, 1.0,
        Timestamp('2016-08-25 00:00:00')],
       [3, 'train', 'boring data', 1.0, 1.0,
        Timestamp('2016-08-25 00:00:00')],
       [3, 'taxes', 'boring data', 1.0, 1.0,
        Timestamp('2016-08-25 00:00:00')],
       [3, 'tools', 'boring data', 1.0, 1.0,
        Timestamp('2016-08-25 00:00:00')]], dtype=object)

In [18]:
df_from_dictionary.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [20]:
df_from_dictionary.columns.tolist()

['array', 'categories', 'dull', 'float', 'series', 'time']

##### describe(): a quick statistical summary
- notice: integer data summarized with floating point numbers

##### control precision of floating point numbers
for options and settings, please see: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.set_option.html

##### transpose rows and columns

In [22]:
df_from_dictionary.T

,0,1,2,3
array,3,3,3,3
categories,test,train,taxes,tools
dull,boring data,boring data,boring data,boring data
float,1,1,1,1
series,1,1,1,1
time,2016-08-25 00:00:00,2016-08-25 00:00:00,2016-08-25 00:00:00,2016-08-25 00:00:00

##### sort by axis

In [25]:
df_from_dictionary.sort_index(axis=1, ascending=False)

        time  series  float         dull categories  array
0 2016-08-25     1.0    1.0  boring data       test      3
1 2016-08-25     1.0    1.0  boring data      train      3
2 2016-08-25     1.0    1.0  boring data      taxes      3
3 2016-08-25     1.0    1.0  boring data      tools      3

##### sort by data within a column (our data was already sorted)