In [2]:
import pandas as pd

## How to rewrite your SQL queries in Pandas, and more

https://medium.com/jbennetcodes/how-to-rewrite-your-sql-queries-in-pandas-and-more-149d341fc53e  <br>
data from https://ourairports.com/data/ <br>
### Additional Resources
https://cmdlinetips.com/2018/02/how-to-subset-pandas-dataframe-based-on-values-of-a-column/

In [4]:
airports = pd.read_csv('data/airports.csv')
airport_freq = pd.read_csv('data/airport-frequencies.csv')
runways = pd.read_csv('data/runways.csv')

In [52]:
airports.loc[airports.ident == 'KLAX']
airports.type.unique()
airports.loc[(airports.iso_region == 'US-CA')&(airports.type == 'seaplane_base')]
airports.loc[(airports.iso_region == 'US-CA')&(airports.type == 'large_airport'),['ident', 'name', 'municipality']]
airport_freq.loc[(airport_freq.airport_ident == 'KLAX' )].sort_values('type', ascending =False)
airports.loc[~airports.type.isin(['heliport', 'balloonport'])]
airports.groupby(['iso_country','type']).size().to_frame('count').reset_index().sort_values(['iso_country','type'], ascending = [True,False])

    iso_country            type  count
0            AD        heliport      2
6            AE   small_airport     16
5            AE   seaplane_base      4
4            AE  medium_airport      7
3            AE   large_airport      4
2            AE        heliport     21
1            AE          closed      1
9            AF   small_airport     53
8            AF  medium_airport      9
7            AF        heliport      3
11           AG   small_airport      2
10           AG  medium_airport      1
13           AI  medium_airport      1
12           AI          closed      1
18           AL   small_airport      1
17           AL  medium_airport      3
16           AL   large_airport      1
15           AL        heliport      1
14           AL          closed      5
22           AM   small_airport      5
21           AM  medium_airport      3
20           AM   large_airport      1
19           AM          closed      4
26           AO   small_airport     73
25           AO  medium_airport     20
24           AO   large_airport      1
23           AO          closed     10
29           AQ   small_airport     21
28           AQ  medium_airport      4
27           AQ          closed      2
..          ...             ...    ...
831          VN  medium_airport     19
830          VN   large_airport      3
829          VN        heliport      5
828          VN          closed      8
834          VU   small_airport     28
833          VU  medium_airport      4
835          WF  medium_airport      2
838          WS   small_airport      2
837          WS  medium_airport      1
836          WS          closed      1
842          XK  medium_airport      1
841          XK   large_airport      1
840          XK        heliport      2
839          XK          closed      3
844          YE   small_airport     14
843          YE  medium_airport     12
845          YT  medium_airport      1
850          ZA   small_airport    412
849          ZA  medium_airport     56
848          ZA   large_airport      4
847          ZA        heliport      4
846          ZA          closed     14
854          ZM   small_airport     94
853          ZM  medium_airport      7
852          ZM   large_airport      1
851          ZM          closed      1
858          ZW   small_airport    128
857          ZW  medium_airport      8
856          ZW   large_airport      1
855          ZW          closed      2

[859 rows x 3 columns]

In [85]:
airports.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [84]:
#airports.groupby('type').filter(lambda g: g.type.size()>1000)
#airports.groupby('type').transform('sum') 
s=airports[airports.iso_country == 'US'].groupby('type').size().to_frame('size')
s[s['size']>1000]

                size
type
closed          2128
heliport        6369
small_airport  13570

In [89]:
by_country=airports.groupby('iso_country').size().to_frame('CNT').reset_index()

In [91]:
by_country.sort_values(by='CNT', ascending=False).head(10)

    iso_country    CNT
224          US  23516
29           BR   5177
35           CA   2801
12           AU   2021
152          MX   1438
117          KR   1374
74           GB   1228
184          RU   1122
54           DE    958
72           FR    895

In [95]:
by_country.nlargest(20,columns='CNT').tail(10)

    iso_country  CNT
9            AR  861
46           CO  706
105          IT  690
170          PG  595
229          VE  592
109          JP  505
239          ZA  490
43           CL  480
96           ID  478
65           ES  446

In [98]:
runways.agg({'length_ft':['max','min','mean','median']}).T

                max  min         mean  median
length_ft  120000.0  0.0  3262.099397  2739.5

In [30]:
airport_freq.loc[(airport_freq.id==50350)]

         id  airport_ref airport_ident type description  frequency_mhz
1275  50350         1870          CYQK  FSS         RDO          122.2

In [28]:
[x  for x in airport_freq.id if x in airports.id ]

[49555,
 49556,
 49557,
 49558,
 55887,
 56366,
 56362,
 56346,
 56345,
 56352,
 56344,
 56353,
 56357,
 56358,
 56359,
 56360,
 56361,
 56338,
 56339,
 56340,
 56341,
 56342,
 56343,
 56348,
 56349,
 56350,
 56351,
 56363,
 56364,
 56365,
 56347,
 56354,
 56355,
 56356,
 52698,
 52697,
 52699,
 52700,
 52701,
 52702,
 52703,
 52704,
 52705,
 52706,
 52707,
 53569,
 53570,
 53571,
 53581,
 53582,
 53574,
 53575,
 53579,
 53580,
 53583,
 53584,
 53572,
 53573,
 53561,
 53562,
 53563,
 53564,
 53565,
 53566,
 53567,
 53568,
 53587,
 53588,
 53556,
 53557,
 53558,
 53559,
 53560,
 53585,
 53586,
 53554,
 53555,
 53576,
 53577,
 53578,
 49952,
 49953,
 50717,
 49890,
 50481,
 49878,
 50751,
 49914,
 50879,
 50919,
 50554,
 50952,
 50951,
 50102,
 50103,
 50923,
 50339,
 50601,
 50602,
 50603,
 49898,
 50966,
 49932,
 49938,
 50897,
 49896,
 50830,
 50001,
 50898,
 50899,
 49996,
 50224,
 50225,
 50212,
 50213,
 50451,
 50894,
 50863,
 50082,
 50083,
 50084,
 49909,
 50121,
 50122,
 50253,
 50254,
 49934,
 50977,
 50937,
 49887,
 49888,
 49926,
 49889,
 50364,
 50363,
 49893,
 49892,
 49950,
 49933,
 50214,
 50342,
 50343,
 50877,
 50344,
 50694,
 50348,
 49900,
 50593,
 50589,
 50421,
 50417,
 50965,
 49880,
 49881,
 49882,
 50381,
 50071,
 49884,
 50870,
 50018,
 50507,
 50446,
 50976,
 50583,
 50340,
 50341,
 50058,
 50869,
 50959,
 50470,
 50777,
 50881,
 51058,
 50503,
 50920,
 50076,
 50375,
 50088,
 50804,
 50904,
 50041,
 50747,
 49879,
 50422,
 49908,
 49903,
 49891,
 50312,
 50572,
 49875,
 49897,
 50546,
 49902,
 50411,
 50366,
 50109,
 50495,
 50101,
 49901,
 49951,
 50958,
 49885,
 50207,
 50683,
 50137,
 50085,
 50086,
 50420,
 50981,
 50982,
 50842,
 49993,
 50886,
 50866,
 50867,
 50319,
 50673,
 50320,
 50321,
 49905,
 50022,
 49988,
 50311,
 50839,
 49899,
 50504,
 49904,
 49915,
 49916,
 50271,
 50272,
 49907,
 50895,
 50896,
 50143,
 50144,
 50134,
 50135,
 50136,
 50039,
 50040,
 50763,
 50764,
 50765,
 50816,
 50817,
 49917,
 50110,
 50111,
 49929,
 49930,
 49931,
 50691,
 50163,
 50164,
 50165,
 50002,
 49939,
 49925,
 50208,
 50890,
 50891,
 50892,
 50418,
 50419,
 50744,
 50745,
 50746,
 50944,
 50945,
 50946,
 50547,
 49956,
 49912,
 50682,
 50255,
 50903,
 50831,
 50405,
 50406,
 50087,
 50972,
 50973,
 50167,
 50166,
 50168,
 50132,
 49913,
 50827,
 50484,
 50485,
 50769,
 50770,
 49877,
 50322,
 50323,
 50324,
 50471,
 50472,
 50473,
 50474,
 50475,
 50476,
 49999,
 50000,
 49990,
 49989,
 49991,
 49992,
 50198,
 50200,
 50199,
 50201,
 50202,
 50203,
 50204,
 50878,
 50940,
 50938,
 50939,
 50941,
 50942,
 50943,
 50345,
 50346,
 50999,
 51000,
 50209,
 50210,
 50211,
 50521,
 50522,
 50365,
 50186,
 50818,
 50819,
 50820,
 50821,
 50822,
 50823,
 50824,
 50825,
 51032,
 51033,
 50695,
 50696,
 50698,
 50697,
 50699,
 50700,
 50447,
 50448,
 50449,
 50450,
 50412,
 50413,
 50414,
 50415,
 50416,
 50544,
 50545,
 51005,
 51006,
 51007,
 51008,
 51009,
 50635,
 50636,
 50125,
 50126,
 50127,
 50128,
 50028,
 49983,
 49982,
 49984,
 49985,
 50059,
 50060,
 50828,
 50829,
 50771,
 50773,
 50772,
 50774,
 50142,
 51030,
 51031,
 50712,
 50967,
 50968,
 50097,
 50893,
 50992,
 50991,
 50993,
 50542,
 50543,
 51020,
 51021,
 51022,
 51068,
 51067,
 51069,
 51070,
 50130,
 50129,
 50131,
 50559,
 50560,
 50561,
 50562,
 50686,
 50685,
 50687,
 50298,
 50299,
 50300,
 49910,
 49911,
 50482,
 50483,
 50061,
 50062,
 50389,
 50390,
 50391,
 50392,
 50393,
 50394,
 50395,
 50396,
 50398,
 50397,
 50399,
 51052,
 51053,
 50468,
 50469,
 50138,
 50139,
 50748,
 50868,
 50880,
 50984,
 50191,
 50192,
 50193,
 50195,
 50194,
 50354,
 50355,
 50356,
 50737,
 50738,
 50735,
 50736,
 50740,
 50739,
 50378,
 50379,
 50380,
 50523,
 50524,
 49895,
 50684,
 50604,
 50605,
 51054,
 51055,
 50372,
 50374,
 50373,
 50701,
 49994,
 49995,
 50864,
 50865,
 51027,
 51028,
 51029,
 50802,
 50803,
 50550,
 50551,
 50552,
 50553,
 50805,
 50806,
 50029,
 50030,
 50466,
 50467,
 50678,
 50679,
 50680,
 50681,
 50386,
 50387,
 50388,
 50856,
 50400,
 50401,
 50402,
 50403,
 50826,
 51014,
 51015,
 51003,
 51004,
 50382,
 50383,
 50384,
 50385,
 50479,
 50812,
 50811,
 50779,
 50832,
 50833,
 50834,
 50835,
 50836,
 50837,
 50838,
 50569,
 50570,
 50571,
 50263,
 50264,
 50265,
 50266,
 50267,
 50268,
 50269,
 50270,
 50331,
 50332,
 50333,
 49894,
 49940,
 49941,
 51050,
 51051,
 50989,
 50990,
 49886,
 50256,
 50257,
 50258,
 50259,
 50260,
 50423,
 50424,
 50425,
 50707,
 50709,
 50708,
 50710,
 51018,
 51019,
 50215,
 50216,
 50218,
 50219,
 50217,
 50023,
 50024,
 50025,
 50026,
 50027,
 50187,
 49935,
 49936,
 49937,
 50535,
 50021,
 50847,
 50848,
 50849,
 50850,
 50846,
 50851,
 50852,
 50016,
 50015,
 50017,
 50675,
 50368,
 50273,
 50274,
 50159,
 50160,
 50161,
 50162,
 50292,
 50293,
 49876,
 50688,
 50689,
 50690,
 50983,
 50910,
 50911,
 50912,
 50913,
 50915,
 50916,
 50914,
 51059,
 51060,
 51061,
 50123,
 50124,
 49997,
 49998,
 50574,
 50575,
 50573,
 50576,
 50577,
 50578,
 50579,
 50580,
 50581,
 50582,
 50840,
 50841,
 50807,
 50808,
 50810,
 50809,
 50525,
 50528,
 50526,
 50527,
 50529,
 49986,
 49987,
 50563,
 50564,
 50169,
 50170,
 50172,
 50176,
 50174,
 50175,
 50367,
 50245,
 50246,
 50247,
 50644,
 50643,
 50645,
 50642,
 50778,
 50794,
 50795,
 50796,
 51023,
 51024,
 50456,
 50457,
 50458,
 50459,
 50460,
 50461,
 50462,
 50463,
 50464,
 50465,
 50275,
 50276,
 50277,
 50278,
 50960,
 50961,
 50962,
 50963,
 50964,
 50288,
 50671,
 50672,
 50780,
 50781,
 50782,
 50783,
 50784,
 50785,
 50786,
 50358,
 50359,
 50362,
 50357,
 50361,
 50360,
 51012,
 51013,
 50974,
 50975,
 50067,
 50068,
 50069,
 50070,
 50227,
 50226,
 50228,
 50229,
 50073,
 50072,
 50074,
 50075,
 50003,
 50004,
 50248,
 50094,
 50095,
 50096,
 50953,
 50954,
 50955,
 50956,
 50404,
 50261,
 50262,
 50427,
 50426,
 50428,
 50590,
 50591,
 50592,
 51047,
 51048,
 51049,
 50140,
 50141,
 50667,
 50668,
 50666,
 50669,
 50289,
 50290,
 50031,
 50032,
 50033,
 50034,
 50035,
 50036,
 50188,
 50189,
 50190,
 50327,
 50329,
 50326,
 50328,
 50330,
 50439,
 50440,
 50441,
 50442,
 50443,
 50444,
 50445,
 50887,
 50888,
 50889,
 50501,
 50502,
 50349,
 50350,
 50352,
 50353,
 50351,
 50077,
 50078,
 50079,
 50080,
 50081,
 50281,
 50282,
 50283,
 50284,
 50285,
 50286,
 50181,
 49942,
 49943,
 49944,
 49945,
 49946,
 49947,
 49948,
 49949,
 50050,
 50051,
 50052,
 50053,
 50054,
 50055,
 50056,
 50057,
 50477,
 50478,
 50619,
 50620,
 50621,
 50622,
 50623,
 50624,
 50625,
 50334,
 50335,
 50336,
 50337,
 50338,
 50775,
 50776,
 50749,
 50750,
 50515,
 50516,
 50517,
 50518,
 50519,
 50520,
 50741,
 50742,
 50743,
 50612,
 50613,
 50614,
 50985,
 50986,
 50536,
 50538,
 50537,
 50539,
 50540,
 50541,
 50640,
 50641,
 50969,
 50970,
 50971,
 50220,
 50221,
 50222,
 50223,
 50206,
 50205,
 50287,
 50734,
 50733,
 50505,
 50506,
 49957,
 49959,
 49960,
 49958,
 50766,
 50767,
 50705,
 50706,
 50314,
 50315,
 50313,
 50317,
 50155,
 50156,
 50157,
 50158,
 50530,
 50531,
 50196,
 50197,
 50091,
 50092,
 50093,
 50692,
 50693,
 50648,
 50649,
 50433,
 50434,
 50436,
 50435,
 50437,
 50438,
 50098,
 50099,
 50100,
 50987,
 50988,
 50598,
 50599,
 50600,
 50768,
 51010,
 51011,
 50291,
 50901,
 50902,
 50900,
 51040,
 51039,
 51041,
 50813,
 50814,
 50815,
 50718,
 50719,
 50720,
 50721,
 50722,
 50723,
 50376,
 50377,
 50042,
 50043,
 50044,
 50045,
 50046,
 50047,
 50048,
 50049,
 49961,
 49962,
 49963,
 49964,
 49965,
 50626,
 50628,
 50627,
 50629,
 50630,
 50631,
 51016,
 51017,
 50932,
 50924,
 50929,
 50925,
 50926,
 50927,
 50928,
 50930,
 50933,
 50931,
 51037,
 51038,
 50996,
 50995,
 50998,
 50994,
 50249,
 50250,
 50251,
 50252,
 50676,
 50677,
 50725,
 50726,
 50724,
 50728,
 50014,
 50670,
 51043,
 51042,
 51044,
 50594,
 50595,
 50597,
 50596,
 50407,
 50408,
 50409,
 50410,
 50637,
 50638,
 50639,
 49974,
 49975,
 49976,
 49977,
 49978,
 49979,
 49981,
 49980,
 50921,
 50922,
 50702,
 50703,
 50704,
 49921,
 49922,
 49923,
 49924,
 50752,
 50753,
 50754,
 ...]

In [125]:
#airports[airports['ident']=='KLAX']
airports[airports.ident=='KLAX']

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
29393,3632,KLAX,large_airport,Los Angeles International Airport,33.942501,-118.407997,125.0,NaN,US,US-CA,Los Angeles,yes,KLAX,LAX,LAX,https://www.flylax.com/,https://en.wikipedia.org/wiki/Los_Angeles_Inte...,NaN

In [107]:
test = pd.merge(airports[airports['ident']=='KLAX'][['id']],airport_freq, how='inner', left_on='id', right_on='airport_ref' )[['airport_ident', 'type', 'description', 'frequency_mhz']]

In [126]:
test.drop_duplicates()

   airport_ident  type description  frequency_mhz
0           KLAX   APP   SOCAL APP          36.07
1           KLAX   APP   SOCAL APP         124.30
2           KLAX  ATIS        ATIS         133.80
3           KLAX   CLD    CLNC DEL         121.40
4           KLAX   DEP   SOCAL DEP         124.30
5           KLAX   GND         GND         121.65
6           KLAX  MISC          CG          34.50
7           KLAX  MISC          CG         898.40
8           KLAX   OPS          AF          37.22
9           KLAX   TWR         TWR         119.80
10          KLAX  UNIC      UNICOM         122.95

In [127]:
test.drop(test[test.type=='CLD'].index)

   airport_ident  type description  frequency_mhz
0           KLAX   APP   SOCAL APP          36.07
1           KLAX   APP   SOCAL APP         124.30
2           KLAX  ATIS        ATIS         133.80
4           KLAX   DEP   SOCAL DEP         124.30
5           KLAX   GND         GND         121.65
6           KLAX  MISC          CG          34.50
7           KLAX  MISC          CG         898.40
8           KLAX   OPS          AF          37.22
9           KLAX   TWR         TWR         119.80
10          KLAX  UNIC      UNICOM         122.95

In [118]:
airports[airports['ident']=='KLAX'][['name', 'municipality']]
#airports.loc[airports['ident']=='KLAX'][['name', 'municipality']]

                                    name municipality
29393  Los Angeles International Airport  Los Angeles

In [124]:
pd.concat([airports[airports['ident']=='KLAX'][['name', 'municipality']], airports[airports['ident']=='KLGB'][['name', 'municipality']]] )

                                       name municipality
29393     Los Angeles International Airport  Los Angeles
29418  Long Beach Airport (Daugherty Field)   Long Beach

In [121]:
pd.concat([airports[airports.ident == 'KLAX'][['name', 'municipality']], airports[airports.ident == 'KLGB'][['name', 'municipality']]])

                                       name municipality
29393     Los Angeles International Airport  Los Angeles
29418  Long Beach Airport (Daugherty Field)   Long Beach

In [9]:
data = pd.merge(left =airports, right = airport_freq, how ='left', on ='id')

In [10]:
data.head()

,id,ident,type_x,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,...,iata_code,local_code,home_link,wikipedia_link,keywords,airport_ref,airport_ident,type_y,description,frequency_mhz
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,...,NaN,00A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,...,NaN,00AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,...,NaN,00AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,...,NaN,00AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,...,NaN,NaN,NaN,NaN,00AR,NaN,NaN,NaN,NaN,NaN

SQL
select * from airports 

select * from airports limit 3

select id from airports where ident = 'KLAX'

select distinct type from airport

select * from airports where iso_region = 'US-CA' and type = 'seaplane_base'

select ident, name, municipality from airports where iso_region = 'US-CA' and type = 'large_airport'

In [12]:
airports.head(3)
airports[airports. ident == 'KLAX'].id
airports.type.unique()
airports[(airports.iso_region == 'US-CA') & (airports.type == 'seaplane_base')][["ident", "name", "municipality"]]

      ident                                      name municipality
985     0O0          San Luis Reservoir Seaplane Base    Los Banos
2507   22CA            Commodore Center Seaplane Base    Sausalito
6283   5CA9       Konocti  - Clear Lake Seaplane Base  Kelseyville
13778   C39                 Folsom Lake Seaplane Base       Folsom
16126  CN20             Ferndale Resort Seaplane Base  Kelseyville
18522   E20              Lake Berryessa Seaplane Base         Napa
24081   H77           Bridge Bay Resort Seaplane Base      Redding
32130   L11                Pebbly Beach Seaplane Base       Avalon
38982   O06  Lake Oroville Landing Area Seaplane Base     Oroville
42706   S74                   Lost Isle Seaplane Base     Stockton
50254   TWH           Two Harbors Amphibious Terminal  Two Harbors

select * from airport_freq where airport_ident = 'KLAX' order by type

select * from airport_freq where airport_ident = 'KLAX' order by type desc

In [21]:
airport_freq[airport_freq.airport_ident == 'KLAX'].sort_values('type', ascending =True)

          id  airport_ref airport_ident  type description  frequency_mhz
11955  60767         3632          KLAX   APP   SOCAL APP          36.07
11956  60766         3632          KLAX   APP   SOCAL APP         124.30
11957  60768         3632          KLAX  ATIS        ATIS         133.80
11958  60769         3632          KLAX   CLD    CLNC DEL         121.40
11959  60770         3632          KLAX   DEP   SOCAL DEP         124.30
11960  60771         3632          KLAX   GND         GND         121.65
11961  60772         3632          KLAX  MISC          CG          34.50
11962  60773         3632          KLAX  MISC          CG         898.40
11963  60774         3632          KLAX   OPS          AF          37.22
11964  60775         3632          KLAX   TWR         TWR         119.80
11965  60776         3632          KLAX  UNIC      UNICOM         122.95

In [20]:
airport_freq[airport_freq.airport_ident == 'KLAX'].sort_values('type', ascending =False)

          id  airport_ref airport_ident  type description  frequency_mhz
11965  60776         3632          KLAX  UNIC      UNICOM         122.95
11964  60775         3632          KLAX   TWR         TWR         119.80
11963  60774         3632          KLAX   OPS          AF          37.22
11961  60772         3632          KLAX  MISC          CG          34.50
11962  60773         3632          KLAX  MISC          CG         898.40
11960  60771         3632          KLAX   GND         GND         121.65
11959  60770         3632          KLAX   DEP   SOCAL DEP         124.30
11958  60769         3632          KLAX   CLD    CLNC DEL         121.40
11957  60768         3632          KLAX  ATIS        ATIS         133.80
11955  60767         3632          KLAX   APP   SOCAL APP          36.07
11956  60766         3632          KLAX   APP   SOCAL APP         124.30

select * from airports where type in ('heliport', 'balloonport')

select * from airports where type not in ('heliport', 'balloonport')

select iso_country, type, count(*) from airports group by iso_country, type order by iso_country, type

select iso_country, type, count(*) from airports group by iso_country, type order by iso_country, count(*) desc

In [25]:
airports[airports.type.isin(['heliport', 'balloonport'])]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
9,322658,00CN,heliport,Kitchen Creek Helibase Heliport,32.727374,-116.459742,3350.0,NaN,US,US-CA,Pine Valley,no,00CN,NaN,00CN,NaN,NaN,NaN
12,6532,00FD,heliport,Ringhaver Heliport,28.846600,-82.345398,25.0,NaN,US,US-FL,Riverview,no,00FD,NaN,00FD,NaN,NaN,NaN
15,6535,00GE,heliport,Caffrey Heliport,33.889245,-84.737930,957.0,NaN,US,US-GA,Hiram,no,00GE,NaN,00GE,NaN,NaN,NaN
16,6536,00HI,heliport,Kaupulehu Heliport,19.832715,-155.980233,43.0,NaN,US,US-HI,Kailua-Kona,no,00HI,NaN,00HI,NaN,NaN,NaN
19,6538,00II,heliport,Bailey Generation Station Heliport,41.644501,-87.122803,600.0,NaN,US,US-IN,Chesterton,no,00II,NaN,00II,NaN,NaN,NaN
21,6540,00IN,heliport,St Mary Medical Center Heliport,41.511398,-87.260597,634.0,NaN,US,US-IN,Hobart,no,00IN,NaN,00IN,NaN,NaN,NaN
25,45437,00LA,heliport,Shell Chemical East Site Heliport,30.191944,-90.980833,15.0,NaN,US,US-LA,Gonzales,no,00LA,NaN,00LA,NaN,NaN,NaN
26,6544,00LL,heliport,Ac & R Components Heliport,39.665298,-89.705597,600.0,NaN,US,US-IL,Chatham,no,00LL,NaN,00LL,NaN,NaN,NaN
29,6547,00MI,heliport,Dow Chemical Heliport,43.949402,-86.416702,588.0,NaN,US,US-MI,Ludington,no,00MI,NaN,00MI,NaN,NaN,NaN
35,6553,00NJ,heliport,Colgate-Piscataway Heliport,40.520901,-74.474602,78.0,NaN,US,US-NJ,New Brunswick,no,00NJ,NaN,00NJ,NaN,NaN,NaN
39,6556,00OI,heliport,Miami Valley Hospital Heliport,39.745300,-84.187401,905.0,NaN,US,US-OH,Dayton,no,00OI,NaN,00OI,NaN,NaN,NaN
41,6557,00OR,heliport,Steel Systems Heliport,44.932899,-123.129997,195.0,NaN,US,US-OR,Salem,no,00OR,NaN,00OR,NaN,NaN,NaN
42,6558,00PA,heliport,R J D Heliport,39.948898,-75.746902,402.0,NaN,US,US-PA,Coatesville,no,00PA,NaN,00PA,NaN,NaN,NaN
49,6563,00TE,heliport,Tcjc-Northeast Campus Heliport,32.847599,-97.189499,600.0,NaN,US,US-TX,Fort Worth,no,00TE,NaN,00TE,NaN,NaN,NaN
61,322300,00WY,heliport,Mountain View Regional Hospital Heliport,42.840361,-106.224443,5210.0,NaN,US,US-WY,Casper,no,00WY,NaN,00WY,NaN,NaN,NaN
64,6577,01AK,heliport,Providence Seward Medical Center Heliport,60.105874,-149.446249,120.0,NaN,US,US-AK,Seward,no,01AK,NaN,01AK,NaN,NaN,NaN
66,6579,01AR,heliport,Community Hospital of De Queen Heliport,34.047298,-94.354897,400.0,NaN,US,US-AR,De Queen,no,01AR,NaN,01AR,NaN,NaN,NaN
67,6580,01AZ,heliport,Yat Heliport,34.608101,-111.864998,3300.0,NaN,US,US-AZ,Camp Verde,no,01AZ,NaN,01AZ,NaN,NaN,NaN
69,6582,01CA,heliport,Lugo Substation Heliport,34.368241,-117.370059,3733.0,NaN,US,US-CA,Hesperia,no,01CA,NaN,01CA,NaN,NaN,NaN
71,6584,01CN,heliport,Los Angeles County Sheriff's Department Heliport,34.037800,-118.153999,300.0,NaN,US,US-CA,Los Angeles,no,01CN,NaN,01CN,NaN,NaN,NaN
72,6585,01CO,heliport,St Vincent General Hospital Heliport,39.245300,-106.246002,10175.0,NaN,US,US-CO,Leadville,no,01CO,NaN,01CO,NaN,NaN,NaN
73,6586,01CT,heliport,Berlin Fairgrounds Heliport,41.627300,-72.727501,60.0,NaN,US,US-CT,Berlin,no,01CT,NaN,01CT,NaN,NaN,NaN
75,6588,01FD,heliport,Advent Health Altamonte Springs Heliport,28.666639,-81.369700,86.0,NaN,US,US-FL,Altamonte Springs,no,01FD,NaN,01FD,NaN,NaN,Florida Hospital-Altamonte
77,6590,01GA,heliport,Medical Center Heliport,32.479301,-84.979103,319.0,NaN,US,US-GA,Columbus,no,01GA,NaN,01GA,NaN,NaN,NaN
82,6594,01IL,heliport,Hoopeston Community Memorial Hospital Heliport,40.458599,-87.659500,583.0,NaN,US,US-IL,Hoopeston,no,01IL,NaN,01IL,NaN,NaN,NaN
83,6595,01IN,heliport,Community Hospital Heliport,40.130901,-85.695801,890.0,NaN,US,US-IN,Anderson,no,01IN,NaN,01IN,NaN,NaN,NaN
88,6600,01KY,heliport,Lourdes Hospital Heliport,37.051701,-88.646896,419.0,NaN,US,US-KY,Paducah,no,01KY,NaN,01KY,NaN,NaN,NaN
92,6604,01MA,heliport,Compaq Andover Heliport,42.625099,-71.180099,140.0,NaN,US,US-MA,Andover,no,01MA,NaN,01MA,NaN,NaN,NaN
95,6607,01MI,heliport,Flow Through Terminal Heliport,43.049500,-83.679703,736.0,NaN,US,US-MI,Flint,no,01MI,NaN,01MI,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57347,309316,YXPN,heliport,Proserpine Hospital Helipad,-20.399120,148.585500,44.0,OC,AU,AU-QLD,Proserpine,no,YXPN,NaN,YXPN,NaN,NaN,NaN
57348,309375,YXQU,heliport,Quirindi Hospital Helipad,-31.501070,150.676606,1365.0,OC,AU,AU-NSW,Quirindi,no,YXQU,NaN,YXQU,NaN,NaN,NaN
57349,309374,YXRN,heliport,Rylstone Hospital Helipad,-32.803975,149.975076,1971.0,OC,AU,AU-NSW,Rylstone,no,YXRN,NaN,YXRN,NaN,NaN,NaN
57350,309342,YXSA,heliport,Sydney Adventist Hospital Helipad,-33.733386,151.100006,584.0,OC,AU,AU-NSW,Wahroonga,no,YXSA,NaN,YXSA,NaN,NaN,NaN
57351,334095,YXSB,heliport,Southcare Base - Canberra Heliport,-35.378588,149.171559,1919.0,OC,AU,AU-ACT,Canberra,no,YXSB,NaN,YXSB,NaN,NaN,NaN
57352,309353,YXSC,heliport,Scone Hospital Helipad,-32.050268,150.877663,782.0,OC,AU,AU-NSW,Scone,no,YXSC,NaN,YXSC,NaN,NaN,NaN
57353,309344,YXSG,heliport,St George Hospital Helipad,-33.968070,151.133680,150.0,OC,AU,AU-NSW,Kogarah,no,YXSG,NaN,YXSG,NaN,NaN,NaN
57354,309352,YXSH,heliport,Shellharbour Hospital Helipad,-34.559890,150.841730,99.0,OC,AU,AU-NSW,Shellharbour,no,YXSH,NaN,YXSH,NaN,NaN,NaN
57355,309351,YXSI,heliport,Singleton Hospital Helipad,-32.567080,151.186865,151.0,OC,AU,AU-NSW,Singleton,no,YXSI,NaN,YXSI,NaN,NaN,NaN
57356,309343,YXSU,heliport,Sutherland Hospital Helipad,-34.038783,151.115600,119.0,OC,AU,AU-NSW,Miranda,no,YXSU,NaN,YXSU,NaN,NaN,NaN
57358,310102,YXTE,heliport,Tenterfield - Federation Park Heliport,-29.048000,152.016400,2762.0,OC,AU,AU-NSW,Tenterfield,no,YXTE,NaN,YXTE,NaN,NaN,NaN
57359,313356,YXTN,heliport,Trundle Hospital Helicopter Landing Site,-32.921700,147.706700,822.0,OC,AU,AU-NSW,Trundle,no,YXTN,NaN,YXTN,NaN,NaN,NaN
57360,310101,YXTR,heliport,Taree - Wrigley Park Helipad,-31.906400,152.450800,39.0,OC,AU,AU-NSW,Taree,no,YXTR,NaN,YXTR,NaN,NaN,NaN
57361,309333,YXTT,heliport,Tumut Hospital Helipad,-35.308000,148.219100,1052.0,OC,AU,AU-NSW,Tumut,no,YXTT,NaN,YXTT,NaN,NaN,NaN
57362,309334,YXTW,heliport,Tamworth Hospital Helipad,-31.074570,150.926410,1356.0,OC,AU,AU-NSW,Tamworth,no,YXTW,NaN,YXTW,NaN,NaN,NaN
57363,317136,YXUH,heliport,Bulahdelah Helicopter Landing Site,-32.400000,152.200000,13.0,OC,AU,AU-NSW,Bulahdelah,no,YXUH,NaN,YXUH,NaN,NaN,NaN
57364,310103,YXWG,heliport,Wagga - Duke of Kent Oval Helipad,-35.114340,147.354100,588.0,OC,AU,AU-NSW,Wagga,no,YXWG,NaN,YXWG,NaN,NaN,NaN
57365,309327,YXWL,heliport,Wollongong Hospital Helipad,-34.424190,150.882200,160.0,OC,AU,AU-NSW,Wollongong,no,YXWL,NaN,YXWL,NaN,NaN,NaN
57366,311184,YXWT,heliport,Wellington-Rygate Park Heliport,-32.548700,148.949700,1005.0,OC,AU,AU-NSW,Wellington,no,YXWT,NaN,YXWT,NaN,NaN,NaN
57367,310104,YXWW,heliport,Wee Waa Hospital Helipad,-30.225000,149.448300,632.0,OC,AU,AU-NSW,Wee Waa,no,YXWW,NaN,YXWW,NaN,NaN,NaN
57368,309326,YXWY,heliport,Wyong Hospital Helipad,-33.260250,151.480690,94.0,OC,AU,AU-NSW,Wyong,no,YXWY,NaN,YXWY,NaN,NaN,NaN
57369,309325,YXYO,heliport,Young Hospital Helipad,-34.320940,148.287980,1523.0,OC,AU,AU-NSW,Young,no,YXYO,NaN,YXYO,NaN,NaN,NaN
57376,28089,YYAS,heliport,Yass Airfield,-34.822285,148.907844,1603.0,OC,AU,AU-NSW,Yass,no,YYAS,NaN,NaN,NaN,NaN,NaN
57378,28091,YYBK,heliport,Yarra Bank Heliport,-37.822287,144.956792,NaN,OC,AU,AU-VIC,NaN,no,YYBK,NaN,NaN,NaN,NaN,NaN
57456,41544,ZA-0021,heliport,Pretoria Central Heliport,-25.655701,28.220600,4087.0,AF,ZA,ZA-GT,Pretoria,no,NaN,HPR,NaN,NaN,NaN,NaN
57552,312611,ZA-0117,heliport,Pumba Helipad,-33.387799,26.410595,NaN,AF,ZA,ZA-EC,Nelson Mandela Bay,no,NaN,NaN,NaN,http://www.pumbagamereserve.co.za/amenities,NaN,NaN
57554,312624,ZA-0119,heliport,Cape Town Heliport,-33.901018,18.425936,NaN,AF,ZA,ZA-WC,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
57575,318475,ZA-0140,heliport,Kuruman Hospital Heliport,-27.459904,23.443762,NaN,AF,ZA,ZA-NC,Kuruman,no,NaN,NaN,NaN,NaN,NaN,NaN
57672,301278,ZIZ,heliport,Zamzama Heliport,26.710944,67.667250,128.0,AS,PK,PK-SD,Zamzama Gas Field,no,NaN,ZIZ,NaN,NaN,NaN,NaN
57939,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad

In [28]:
airports.groupby(['iso_country','type']).size().to_frame('count').reset_index().sort_values(['iso_country','count'], ascending=False)

    iso_country            type  count
858          ZW   small_airport    128
857          ZW  medium_airport      8
855          ZW          closed      2
856          ZW   large_airport      1
854          ZM   small_airport     94
853          ZM  medium_airport      7
851          ZM          closed      1
852          ZM   large_airport      1
850          ZA   small_airport    412
849          ZA  medium_airport     56
846          ZA          closed     14
847          ZA        heliport      4
848          ZA   large_airport      4
845          YT  medium_airport      1
844          YE   small_airport     14
843          YE  medium_airport     12
839          XK          closed      3
840          XK        heliport      2
841          XK   large_airport      1
842          XK  medium_airport      1
838          WS   small_airport      2
836          WS          closed      1
837          WS  medium_airport      1
835          WF  medium_airport      2
834          VU   small_airport     28
833          VU  medium_airport      4
831          VN  medium_airport     19
832          VN   small_airport     15
828          VN          closed      8
829          VN        heliport      5
..          ...             ...    ...
29           AQ   small_airport     21
28           AQ  medium_airport      4
27           AQ          closed      2
26           AO   small_airport     73
25           AO  medium_airport     20
23           AO          closed     10
24           AO   large_airport      1
22           AM   small_airport      5
19           AM          closed      4
21           AM  medium_airport      3
20           AM   large_airport      1
14           AL          closed      5
17           AL  medium_airport      3
15           AL        heliport      1
16           AL   large_airport      1
18           AL   small_airport      1
12           AI          closed      1
13           AI  medium_airport      1
11           AG   small_airport      2
10           AG  medium_airport      1
9            AF   small_airport     53
8            AF  medium_airport      9
7            AF        heliport      3
2            AE        heliport     21
6            AE   small_airport     16
4            AE  medium_airport      7
3            AE   large_airport      4
5            AE   seaplane_base      4
1            AE          closed      1
0            AD        heliport      2

[859 rows x 3 columns]

select type, count(*) from airports where iso_country = 'US' group by type having count(*) > 1000 order by count(*) desc

In [31]:
airports[airports.iso_country == 'US'].groupby('type').filter(lambda x:len(x)>1000).groupby('type').size().sort_values(ascending =False)

type
small_airport    13570
heliport          6369
closed            2128
dtype: int64