In [2]:
import pandas as pd
import numpy as np
from sodapy import Socrata
# this step is to read public data, the only thing needs to know is how to read data from
# csv file: pd.read_csv('data.csv',sep = ',')
client = Socrata("health.data.ny.gov", None)
result = client.get("cr7a-34ka",limit = 1000)
ppv = pd.DataFrame.from_records(result)
ppv = ppv[['year','patient_county','dual_status','medicaid_ppv_events']]
# change column names
#ppv.columns = ['year','county','dual_status','medicaid_ppv_events']
ppv.rename(columns = {'patient_county':'county'},inplace = True)
ppv.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

   year     county dual_status medicaid_ppv_events
0  2014    Albany     Non-Dual               28303
1  2014    Albany       Total                33297
2  2014    Albany         Dual                4994
3  2014  Allegany         Dual                 864
4  2014  Allegany     Non-Dual                3852

In [9]:
type(ppv['county'].to_frame().head())

pandas.core.frame.DataFrame

In [12]:
ppv['county'].str.strip().to_frame().head()

     county
0    Albany
1    Albany
2    Albany
3  Allegany
4  Allegany

In [4]:
# remove space in county so we can join with tax data frame, just data cleaning
ppv['county'] = ppv['county'].str.strip()
# number of records
print(ppv.county.count())
# number of distinct records
print(ppv.county.nunique())

504
63

In [13]:
# see the output of size() function
ppv.groupby(['year','county']).size().head()

year  county
2011  Albany          1
      Allegany        1
      Bronx           1
      Broome          1
      Cattaraugus     1
dtype: int64

In [6]:
# convert to data frame
ppv.groupby(['year','county']).size().reset_index().head()

   year       county  0
0  2011       Albany  1
1  2011     Allegany  1
2  2011        Bronx  1
3  2011       Broome  1
4  2011  Cattaraugus  1

In [40]:
ppv.groupby(['year'])['dual_status'].agg({'dual_status':'nunique', 'size2':'size', 'sum':'sum'})

/Users/exue001c/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

                                                    sum  dual_status  size2
year
2011  Total Total Total Total Total Total Total Tota...            1     63
2012  Total Total Total Total Total Total Total Tota...            1     63
2013  Total DualNon DualDualTotal Non DualDualTotal ...            3    189
2014  Non-DualTotal DualDualNon-DualTotal Non-DualTo...            3    189

In [7]:
# see the output of count() function, how it differs from size() function
ppv.groupby(['year','county']).count().head()

                  dual_status  medicaid_ppv_events
year county
2011 Albany                 1                    1
     Allegany               1                    1
     Bronx                  1                    1
     Broome                 1                    1
     Cattaraugus            1                    1

In [8]:
# convert to data frame
ppv.groupby(['year','county']).count().reset_index().head()

   year       county  dual_status  medicaid_ppv_events
0  2011       Albany            1                    1
1  2011     Allegany            1                    1
2  2011        Bronx            1                    1
3  2011       Broome            1                    1
4  2011  Cattaraugus            1                    1

In [9]:
# another way to convert to data frame
ppv.groupby(['year','county']).size().to_frame('dual_status').reset_index().head()

   year       county  dual_status
0  2011       Albany            1
1  2011     Allegany            1
2  2011        Bronx            1
3  2011       Broome            1
4  2011  Cattaraugus            1

In [11]:
# unique number of dual status in each year
ppv.groupby('year')['dual_status'].nunique().reset_index()

   year  dual_status
0  2011            1
1  2012            1
2  2013            3
3  2014            3

In [14]:
# output of unique dual status
ppv.dual_status.unique()

array([u'Non-Dual', u'Total ', u'Dual', u'Non Dual'], dtype=object)

In [15]:
ppv1 = ppv.copy()
# change 'Non-Dual' to 'Non Dual' for dual_status column
ppv.loc[ppv.dual_status == 'Non-Dual','dual_status'] = 'Non Dual'

In [44]:
# change 'Non-Dual' to 'Non Dual' for dual_status column
ppv.loc[ppv.dual_status == 'Non-Dual','dual_status']='Non Dual'

In [45]:
ppv.dual_status.unique()

array(['Non Dual', u'Total ', u'Dual'], dtype=object)

In [17]:
cols = ['medicaid_ppv_events']
# change string to numeric variable, no need to know this 
ppv[cols] = ppv[cols].apply(pd.to_numeric, errors='coerce', axis=1)
# pivot table
ppv.pivot_table(index = ['year','county'], columns = 'dual_status', values = 'medicaid_ppv_events')

dual_status           Dual   Non Dual     Total
year county
2011 Albany            NaN        NaN    29612.0
     Allegany          NaN        NaN     3948.0
     Bronx             NaN        NaN   303162.0
     Broome            NaN        NaN     9121.0
     Cattaraugus       NaN        NaN     8012.0
     Cayuga            NaN        NaN     5385.0
     Chautauqua        NaN        NaN    16341.0
     Chemung           NaN        NaN    12741.0
     Chenango          NaN        NaN     6662.0
     Clinton           NaN        NaN     9798.0
     Columbia          NaN        NaN     5636.0
     Cortland          NaN        NaN     3796.0
     Delaware          NaN        NaN     4797.0
     Dutchess          NaN        NaN    14118.0
     Erie              NaN        NaN    62290.0
     Essex             NaN        NaN     4007.0
     Franklin          NaN        NaN     5723.0
     Fulton            NaN        NaN     7647.0
     Genesee           NaN        NaN     4216.0
     Greene            NaN        NaN     3322.0
     Hamilton          NaN        NaN      105.0
     Herkimer          NaN        NaN     4211.0
     Jefferson         NaN        NaN    11464.0
     Kings             NaN        NaN   284568.0
     Lewis             NaN        NaN     1997.0
     Livingston        NaN        NaN     1556.0
     Madison           NaN        NaN     4800.0
     Monroe            NaN        NaN    35077.0
     Montgomery        NaN        NaN     6078.0
     Nassau            NaN        NaN    42849.0
...                    ...        ...        ...
2014 Onondaga       6406.0    40219.0    46625.0
     Ontario        1281.0     6385.0     7666.0
     Orange         2978.0    21413.0    24391.0
     Orleans         373.0     2651.0     3024.0
     Oswego         1476.0    10162.0    11638.0
     Otsego          716.0     3474.0     4190.0
     Putnam          371.0     2691.0     3062.0
     Queens        19418.0   235147.0   254565.0
     Rensselaer     3416.0    17908.0    21324.0
     Richmond       5049.0    33776.0    38825.0
     Rockland       2392.0    14669.0    17061.0
     Saratoga       1863.0     7997.0     9860.0
     Schenectady    2564.0    20436.0    23000.0
     Schoharie       292.0     2316.0     2608.0
     Schuyler        486.0     1989.0     2475.0
     Seneca          324.0      963.0     1287.0
     St Lawrence    1801.0    16165.0    17966.0
     Statewide    219427.0  1845591.0  2065018.0
     Steuben        1764.0     9962.0    11726.0
     Suffolk       10370.0    84081.0    94451.0
     Sullivan       1080.0     7752.0     8832.0
     Tioga           175.0     2676.0     2851.0
     Tompkins        664.0     3267.0     3931.0
     Ulster         3481.0    15442.0    18923.0
     Warren          804.0     4038.0     4842.0
     Washington      448.0     3424.0     3872.0
     Wayne          1025.0     4504.0     5529.0
     Westchester    8009.0    62073.0    70082.0
     Wyoming         226.0     2033.0     2259.0
     Yates           289.0     1133.0     1422.0

[252 rows x 3 columns]

In [24]:
# If not allowed to use pivot table function, here is how to pivot step by step
ppv['Dual'] = ppv[ppv.dual_status == 'Dual'].medicaid_ppv_events
ppv['Non Dual'] = ppv[ppv.dual_status == 'Non Dual'].medicaid_ppv_events
ppv['Total'] = ppv[ppv.dual_status == 'Total '].medicaid_ppv_events
ppv.fillna(0,inplace=True)

In [18]:
values = ppv.dual_status.unique()
values

array(['Non Dual', u'Total ', u'Dual'], dtype=object)

In [19]:
# same as not in () .. statement in sql
ppv1[~ppv1.dual_status.isin(values)]

     year       county dual_status medicaid_ppv_events
0    2014       Albany    Non-Dual               28303
4    2014     Allegany    Non-Dual                3852
6    2014        Bronx    Non-Dual              310734
9    2014       Broome    Non-Dual               14854
14   2014  Cattaraugus    Non-Dual                7728
16   2014       Cayuga    Non-Dual                6794
19   2014   Chautauqua    Non-Dual               17505
22   2014      Chemung    Non-Dual               13452
25   2014     Chenango    Non-Dual                6627
29   2014      Clinton    Non-Dual                8476
30   2014     Columbia    Non-Dual                5222
35   2014     Cortland    Non-Dual                3487
37   2014     Delaware    Non-Dual                4869
40   2014     Dutchess    Non-Dual               16144
43   2014         Erie    Non-Dual               62271
46   2014        Essex    Non-Dual                3861
48   2014     Franklin    Non-Dual                4843
51   2014       Fulton    Non-Dual                8101
54   2014      Genesee    Non-Dual                4922
58   2014       Greene    Non-Dual                3368
60   2014     Hamilton    Non-Dual                 107
64   2014     Herkimer    Non-Dual                4530
66   2014    Jefferson    Non-Dual               13462
69   2014        Kings    Non-Dual              302287
73   2014        Lewis    Non-Dual                2318
75   2014   Livingston    Non-Dual                4022
78   2014      Madison    Non-Dual                7244
82   2014       Monroe    Non-Dual               52375
86   2014   Montgomery    Non-Dual                7440
87   2014       Nassau    Non-Dual               58326
..    ...          ...         ...                 ...
101  2014     Onondaga    Non-Dual               40219
103  2014      Ontario    Non-Dual                6385
106  2014       Orange    Non-Dual               21413
110  2014      Orleans    Non-Dual                2651
113  2014       Oswego    Non-Dual               10162
114  2014       Otsego    Non-Dual                3474
118  2014       Putnam    Non-Dual                2691
122  2014       Queens    Non-Dual              235147
123  2014   Rensselaer    Non-Dual               17908
127  2014     Richmond    Non-Dual               33776
129  2014     Rockland    Non-Dual               14669
134  2014     Saratoga    Non-Dual                7997
135  2014  Schenectady    Non-Dual               20436
138  2014    Schoharie    Non-Dual                2316
142  2014     Schuyler    Non-Dual                1989
145  2014       Seneca    Non-Dual                 963
148  2014    Statewide    Non-Dual             1845591
152  2014      Steuben    Non-Dual                9962
155  2014  St Lawrence    Non-Dual               16165
156  2014      Suffolk    Non-Dual               84081
159  2014     Sullivan    Non-Dual                7752
163  2014        Tioga    Non-Dual                2676
165  2014     Tompkins    Non-Dual                3267
169  2014       Ulster    Non-Dual               15442
173  2014       Warren    Non-Dual                4038
176  2014   Washington    Non-Dual                3424
177  2014        Wayne    Non-Dual                4504
182  2014  Westchester    Non-Dual               62073
183  2014      Wyoming    Non-Dual                2033
186  2014        Yates    Non-Dual                1133

[63 rows x 4 columns]

In [29]:
#ppv.drop(['dual_status','medicaid_ppv_events'],axis = 1,inplace=True)
# aggregation function
ppv = ppv.groupby(['year','county']).sum()[['Dual','Non Dual', 'Total']].reset_index()
ppv.head()

   year       county  Dual  Non Dual     Total
0  2011       Albany   0.0       0.0   29612.0
1  2011     Allegany   0.0       0.0    3948.0
2  2011        Bronx   0.0       0.0  303162.0
3  2011       Broome   0.0       0.0    9121.0
4  2011  Cattaraugus   0.0       0.0    8012.0

In [46]:
# api to read another dataset
client = Socrata("data.ny.gov", None)
# (23735, 17) record
results = client.get("5bb2-yb85",limit = 30000)
income_tax = pd.DataFrame.from_records(results)
income_tax = income_tax[['tax_year','state','county','ny_agi_of_all_returns_in_thousands',
                        'taxable_income_of_all_returns_in_thousands']]
income_tax.columns = ['year','state','county','agi','taxable_income']
income_tax.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

   year     state                 county          agi taxable_income
0  2014  New York  New York City - Bronx    28535.362        3335.61
1  2014  New York  New York City - Bronx   497520.476      40325.721
2  2014  New York  New York City - Bronx  1848243.085     537630.966
3  2014  New York  New York City - Bronx  2028682.259    1087516.097
4  2014  New York  New York City - Bronx  2259143.529    1486635.154

In [31]:
import warnings
warnings.filterwarnings('ignore')
# filter data, and change some values for county column
income_tax = income_tax[(income_tax.state == 'New York')& (income_tax.year > 2010)]
income_tax.loc[income_tax["county"] == 'New York City - Bronx','county'] = 'Bronx'
income_tax.loc[income_tax["county"] == 'New York City - Kings','county'] = 'Kings'
income_tax.loc[income_tax["county"] == 'New York City - Manhattan','county'] = 'Manhattan'
income_tax.loc[income_tax["county"] == 'New York City - Queens','county'] = 'Queens'
income_tax.loc[income_tax["county"] == 'New York City - Richmond','county'] = 'Richmond'
cols = ['agi', 'taxable_income']
income_tax[cols] = income_tax[cols].apply(pd.to_numeric, errors='coerce', axis=1)
# add a new column
income_tax['deductions'] = income_tax['agi'] - income_tax['taxable_income']
income_tax.head()

   year     state county          agi  taxable_income   deductions
0  2014  New York  Bronx    28535.362        3335.610    25199.752
1  2014  New York  Bronx   497520.476       40325.721   457194.755
2  2014  New York  Bronx  1848243.085      537630.966  1310612.119
3  2014  New York  Bronx  2028682.259     1087516.097   941166.162
4  2014  New York  Bronx  2259143.529     1486635.154   772508.375

In [32]:
# get the mean 
income_tax = income_tax.groupby(['county','year']).mean().reset_index()
income_tax.head()

   county  year           agi  taxable_income     deductions
0  Albany  1999  9.316067e+05   714181.833333  217424.833333
1  Albany  2000  1.009254e+06   783491.250000  225762.666667
2  Albany  2001  9.758270e+05   750473.666667  225353.333333
3  Albany  2002  9.862647e+05   755584.166667  230680.500000
4  Albany  2003  1.026337e+06   792451.333333  233885.250000

In [33]:
# self join, just to see the output if you add suffixes
test = ppv.merge(ppv, left_on = ['county','year'], right_on = ['county','year'], how = 'inner', 
              suffixes = ('_t1','_t2'))

In [34]:
test.head()

,year,county,Dual_t1,Non Dual_t1,Total_t1,Dual_t2,Non Dual_t2,Total_t2
0,2011,Albany,0.0,0.0,29612.0,0.0,0.0,29612.0
1,2011,Allegany,0.0,0.0,3948.0,0.0,0.0,3948.0
2,2011,Bronx,0.0,0.0,303162.0,0.0,0.0,303162.0
3,2011,Broome,0.0,0.0,9121.0,0.0,0.0,9121.0
4,2011,Cattaraugus,0.0,0.0,8012.0,0.0,0.0,8012.0

In [35]:
# join the above data frame
df = ppv.merge(income_tax, left_on = ['county','year'], right_on = ['county','year'], how = 'inner', 
              suffixes = ('_t1','_t2'))

In [36]:
df.head()

,year,county,Dual,Non Dual,Total,agi,taxable_income,deductions
0,2011,Albany,0.0,0.0,29612.0,1.096756e+06,8.843990e+05,212357.428571
1,2011,Allegany,0.0,0.0,3948.0,9.482986e+04,6.831164e+04,26518.214286
2,2011,Bronx,0.0,0.0,303162.0,2.518053e+06,1.735262e+06,782790.357143
3,2011,Broome,0.0,0.0,9121.0,5.179209e+05,3.935487e+05,124372.142857
4,2011,Cattaraugus,0.0,0.0,8012.0,1.698241e+05,1.234909e+05,46333.142857

In [39]:
# mean for agi column, and sum for deductions column
income_tax.groupby(['county','year']).agg({'agi':np.mean,'deductions':sum})[['agi','deductions']].reset_index()

        county  year           agi     deductions
0       Albany  1999  9.316067e+05  217424.833333
1       Albany  2000  1.009254e+06  225762.666667
2       Albany  2001  9.758270e+05  225353.333333
3       Albany  2002  9.862647e+05  230680.500000
4       Albany  2003  1.026337e+06  233885.250000
5       Albany  2004  1.099927e+06  241077.333333
6       Albany  2005  1.125844e+06  250376.416667
7       Albany  2006  1.225914e+06  264476.916667
8       Albany  2007  1.101516e+06  234094.214286
9       Albany  2008  1.041000e+06  219394.642857
10      Albany  2009  1.014214e+06  215173.142857
11      Albany  2010  1.053083e+06  213330.428571
12      Albany  2011  1.096756e+06  212357.428571
13      Albany  2012  1.156916e+06  213977.681429
14      Albany  2013  1.141294e+06  219653.871714
15      Albany  2014  1.204678e+06  224350.069429
16    Allegany  1999  8.386450e+04   28624.000000
17    Allegany  2000  8.846783e+04   29327.000000
18    Allegany  2001  8.949067e+04   29554.333333
19    Allegany  2002  9.070500e+04   30347.250000
20    Allegany  2003  9.053617e+04   30380.166667
21    Allegany  2004  9.315167e+04   30494.833333
22    Allegany  2005  9.524208e+04   30500.166667
23    Allegany  2006  1.001124e+05   31487.583333
24    Allegany  2007  9.359214e+04   28032.142857
25    Allegany  2008  9.670400e+04   27261.571429
26    Allegany  2009  9.244879e+04   26597.571429
27    Allegany  2010  9.417543e+04   26687.714286
28    Allegany  2011  9.482986e+04   26518.214286
29    Allegany  2012  9.882933e+04   26220.548000
...        ...   ...           ...            ...
1010   Wyoming  2001  9.400283e+04   29158.250000
1011   Wyoming  2002  9.592492e+04   29612.916667
1012   Wyoming  2003  9.435400e+04   29585.000000
1013   Wyoming  2004  9.784458e+04   29757.166667
1014   Wyoming  2005  1.010490e+05   30125.000000
1015   Wyoming  2006  1.068240e+05   31078.833333
1016   Wyoming  2007  9.831286e+04   27369.642857
1017   Wyoming  2008  9.878493e+04   25892.285714
1018   Wyoming  2009  9.381279e+04   24797.357143
1019   Wyoming  2010  9.784307e+04   25639.500000
1020   Wyoming  2011  1.004673e+05   25737.642857
1021   Wyoming  2012  1.007834e+05   24545.942429
1022   Wyoming  2013  1.024760e+05   25455.456000
1023   Wyoming  2014  1.062215e+05   25953.290857
1024     Yates  1999  5.021567e+04   16313.666667
1025     Yates  2000  5.328692e+04   16647.916667
1026     Yates  2001  5.263817e+04   16707.083333
1027     Yates  2002  5.020133e+04   17049.333333
1028     Yates  2003  5.063275e+04   17225.333333
1029     Yates  2004  5.404533e+04   17503.166667
1030     Yates  2005  5.643242e+04   17920.166667
1031     Yates  2006  5.996875e+04   18567.000000
1032     Yates  2007  5.563343e+04   16505.785714
1033     Yates  2008  5.346200e+04   15919.071429
1034     Yates  2009  5.159329e+04   15610.357143
1035     Yates  2010  5.547614e+04   15498.428571
1036     Yates  2011  6.009129e+04   15520.642857
1037     Yates  2012  5.548559e+04   15169.610143
1038     Yates  2013  5.665241e+04   15511.728714
1039     Yates  2014  6.016016e+04   15609.791286

[1040 rows x 4 columns]

In [40]:
# same as window function lead()
df['next_year_deductions'] = df.sort_values(['county', 'year']).groupby('county')['deductions'].shift(-1)
df.sort_values(['county', 'year'])

,year,county,Dual,Non Dual,Total,agi,taxable_income,deductions,next_year_deductions
0,2011,Albany,0.0,0.0,29612.0,1.096756e+06,8.843990e+05,212357.428571,213977.681429
60,2012,Albany,0.0,0.0,31181.0,1.156916e+06,9.429381e+05,213977.681429,219653.871714
120,2013,Albany,5188.0,23733.0,28921.0,1.141294e+06,9.216400e+05,219653.871714,224350.069429
180,2014,Albany,4994.0,28303.0,33297.0,1.204678e+06,9.803279e+05,224350.069429,NaN
1,2011,Allegany,0.0,0.0,3948.0,9.482986e+04,6.831164e+04,26518.214286,26220.548000
61,2012,Allegany,0.0,0.0,4115.0,9.882933e+04,7.260878e+04,26220.548000,26526.196143
121,2013,Allegany,911.0,3361.0,4272.0,9.978862e+04,7.326242e+04,26526.196143,26283.268714
181,2014,Allegany,864.0,3852.0,4716.0,1.078800e+05,8.159668e+04,26283.268714,NaN
2,2011,Bronx,0.0,0.0,303162.0,2.518053e+06,1.735262e+06,782790.357143,777193.260000
62,2012,Bronx,0.0,0.0,305888.0,2.558104e+06,1.780911e+06,777193.260000,805035.384429
122,2013,Bronx,23052.0,293269.0,316321.0,2.609443e+06,1.804408e+06,805035.384429,832074.722571
182,2014,Bronx,24660.0,310734.0,335394.0,2.769347e+06,1.937272e+06,832074.722571,NaN
3,2011,Broome,0.0,0.0,9121.0,5.179209e+05,3.935487e+05,124372.142857,127389.480714
63,2012,Broome,0.0,0.0,18414.0,5.621400e+05,4.347506e+05,127389.480714,127433.095286
123,2013,Broome,2807.0,14189.0,16996.0,5.573557e+05,4.299226e+05,127433.095286,129904.601143
183,2014,Broome,2556.0,14854.0,17410.0,5.824622e+05,4.525576e+05,129904.601143,NaN
4,2011,Cattaraugus,0.0,0.0,8012.0,1.698241e+05,1.234909e+05,46333.142857,44722.406143
64,2012,Cattaraugus,0.0,0.0,7543.0,1.752896e+05,1.305672e+05,44722.406143,47001.255286
124,2013,Cattaraugus,1110.0,6453.0,7563.0,1.772031e+05,1.302019e+05,47001.255286,47052.060857
184,2014,Cattaraugus,1146.0,7728.0,8874.0,1.825287e+05,1.354767e+05,47052.060857,NaN
5,2011,Cayuga,0.0,0.0,5385.0,1.922167e+05,1.466886e+05,45528.142857,47281.080857
65,2012,Cayuga,0.0,0.0,6835.0,2.092116e+05,1.619305e+05,47281.080857,50066.030143
125,2013,Cayuga,1280.0,5054.0,6334.0,2.120215e+05,1.619554e+05,50066.030143,50386.116000
185,2014,Cayuga,1257.0,6794.0,8051.0,2.191821e+05,1.687960e+05,50386.116000,NaN
6,2011,Chautauqua,0.0,0.0,16341.0,2.848860e+05,2.075905e+05,77295.500000,78043.763286
66,2012,Chautauqua,0.0,0.0,18027.0,2.947298e+05,2.166861e+05,78043.763286,78209.986143
126,2013,Chautauqua,1456.0,15880.0,17336.0,2.965818e+05,2.183718e+05,78209.986143,78415.195286
186,2014,Chautauqua,1569.0,17505.0,19074.0,3.107828e+05,2.323677e+05,78415.195286,NaN
7,2011,Chemung,0.0,0.0,12741.0,2.368654e+05,1.801977e+05,56667.642857,56199.245857
67,2012,Chemung,0.0,0.0,14415.0,2.428123e+05,1.866131e+05,56199.245857,56632.257143
...,...,...,...,...,...,...,...,...,...
172,2013,Tompkins,177.0,2845.0,3022.0,3.051010e+05,2.441337e+05,60967.270429,61237.795857
232,2014,Tompkins,664.0,3267.0,3931.0,3.209829e+05,2.597451e+05,61237.795857,NaN
53,2011,Ulster,0.0,0.0,11956.0,5.606966e+05,4.342711e+05,126425.428571,117985.690000
113,2012,Ulster,0.0,0.0,13950.0,5.632413e+05,4.452556e+05,117985.690000,123172.881000
173,2013,Ulster,3313.0,11625.0,14938.0,5.644883e+05,4.413155e+05,123172.881000,124223.312143
233,2014,Ulster,3481.0,15442.0,18923.0,5.927201e+05,4.684968e+05,124223.312143,NaN
54,2011,Warren,0.0,0.0,3760.0,2.041009e+05,1.631027e+05,40998.214286,39138.353857
114,2012,Warren,0.0,0.0,4211.0,2.103827e+05,1.712444e+05,39138.353857,39930.303143
174,2013,Warren,952.0,3499.0,4451.0,2.123373e+05,1.724070e+05,39930.303143,39586.972857
234,2014,Warren,804.0,4038.0,4842.0,2.208109e+05,1.812239e+05,39586.972857,NaN
55,2011,Washington,0.0,0.0,2923.0,1.357735e+05,9.942307e+04,36350.428571,37489.982286
115,2012,Washington,0.0,0.0,3384.0,1.488997e+05,1.114097e+05,37489.982286,38388.059000
175,2013,Washington,403.0,2445.0,2848.0,1.496736e+05,1.112855e+05,38388.059000,39047.756429
235,2014,Washington,448.0,3424.0,3872.0,1.565309e+05,1.174831e+05,39047.756429,NaN
56,2011,Wayne,0.0,0.0,2480.0,2.563432e+05,1.913881e+05,64955.142857,63648.229000
116,2012,Wayne,0.0,0.0,4462.0,2.570766e+05,1.934283e+05,63648.229000,64423.267143
176,2013,Wayne,962.0,3362.0,4324.0,2.596586e+05,1.952353e+05,64423.267143,65455.804857
236,2014,Wayne,1025.0,4504.0,5529.0,2.652415e+05,1.997857e+05,65455.804857,NaN
57,2011,Westchester,0.0,0.0,49776.0,7.660568e+06,6.813737e+06,846830.928571,846526.679929
117,2012,Westchester,0.0,0.0,54489.0,8.871705e+06,8.025178e+06,846526.679929,889191.973786
177,2013,Westchester,7323.0,51314.0,58637.0,8.599607e+06,7.710415e+06,889191.973786,855805.232857
237,2014,Westchester,8009.0,62073.0,70082.0,9.441497e+06,8.585691e+06,855805.232857,NaN
58,2011,Wyoming,0.0,0.0,1932.0,1.004673e+05,7.472964e+04,25737.642857,24545.942429
118,2012,Wyoming,0.0,0.0,2197.0,1.007834e+05,7.623746e+04,24545.942429,25455.456000
178,2013,Wyoming,197.0,1870.0,2067.0,1.024760e+05,7.702054e+04,25455.456000,25953.290857
238,2014,Wyoming,226.0,2033.0,2259.0,1.062215e+05,8.026825e+04,25953.290857,NaN
59,2011,Yates,0.0,0.0,608.0,6.009129e+04,4.457064e+04,15520.642857,15169.610143
119,2012,Yates,0.0,0.0,960.0,5.548559e+04,4.031598e+04,15169.610143,15511.728714
179,2013,Yates,302.0,629.0,931.0,5.665241e+04,4.114068e+04,15511.728714,15609.791286
239,2014,Yates,289.0,1133.0,1422.0,6.016016e+04,4.455037e+04,15609.791286,NaN

In [41]:
# rank(method=’first’) same as row_number() in sql
# method=’min’ same as rank(), method = ‘dense’ same as dense_rank()
df['rank'] = df.groupby('county')['deductions'].rank(method = 'first', ascending = False)
df.sort_values(['county', 'year'])

,year,county,Dual,Non Dual,Total,agi,taxable_income,deductions,next_year_deductions,rank
0,2011,Albany,0.0,0.0,29612.0,1.096756e+06,8.843990e+05,212357.428571,213977.681429,4.0
60,2012,Albany,0.0,0.0,31181.0,1.156916e+06,9.429381e+05,213977.681429,219653.871714,3.0
120,2013,Albany,5188.0,23733.0,28921.0,1.141294e+06,9.216400e+05,219653.871714,224350.069429,2.0
180,2014,Albany,4994.0,28303.0,33297.0,1.204678e+06,9.803279e+05,224350.069429,NaN,1.0
1,2011,Allegany,0.0,0.0,3948.0,9.482986e+04,6.831164e+04,26518.214286,26220.548000,2.0
61,2012,Allegany,0.0,0.0,4115.0,9.882933e+04,7.260878e+04,26220.548000,26526.196143,4.0
121,2013,Allegany,911.0,3361.0,4272.0,9.978862e+04,7.326242e+04,26526.196143,26283.268714,1.0
181,2014,Allegany,864.0,3852.0,4716.0,1.078800e+05,8.159668e+04,26283.268714,NaN,3.0
2,2011,Bronx,0.0,0.0,303162.0,2.518053e+06,1.735262e+06,782790.357143,777193.260000,3.0
62,2012,Bronx,0.0,0.0,305888.0,2.558104e+06,1.780911e+06,777193.260000,805035.384429,4.0
122,2013,Bronx,23052.0,293269.0,316321.0,2.609443e+06,1.804408e+06,805035.384429,832074.722571,2.0
182,2014,Bronx,24660.0,310734.0,335394.0,2.769347e+06,1.937272e+06,832074.722571,NaN,1.0
3,2011,Broome,0.0,0.0,9121.0,5.179209e+05,3.935487e+05,124372.142857,127389.480714,4.0
63,2012,Broome,0.0,0.0,18414.0,5.621400e+05,4.347506e+05,127389.480714,127433.095286,3.0
123,2013,Broome,2807.0,14189.0,16996.0,5.573557e+05,4.299226e+05,127433.095286,129904.601143,2.0
183,2014,Broome,2556.0,14854.0,17410.0,5.824622e+05,4.525576e+05,129904.601143,NaN,1.0
4,2011,Cattaraugus,0.0,0.0,8012.0,1.698241e+05,1.234909e+05,46333.142857,44722.406143,3.0
64,2012,Cattaraugus,0.0,0.0,7543.0,1.752896e+05,1.305672e+05,44722.406143,47001.255286,4.0
124,2013,Cattaraugus,1110.0,6453.0,7563.0,1.772031e+05,1.302019e+05,47001.255286,47052.060857,2.0
184,2014,Cattaraugus,1146.0,7728.0,8874.0,1.825287e+05,1.354767e+05,47052.060857,NaN,1.0
5,2011,Cayuga,0.0,0.0,5385.0,1.922167e+05,1.466886e+05,45528.142857,47281.080857,4.0
65,2012,Cayuga,0.0,0.0,6835.0,2.092116e+05,1.619305e+05,47281.080857,50066.030143,3.0
125,2013,Cayuga,1280.0,5054.0,6334.0,2.120215e+05,1.619554e+05,50066.030143,50386.116000,2.0
185,2014,Cayuga,1257.0,6794.0,8051.0,2.191821e+05,1.687960e+05,50386.116000,NaN,1.0
6,2011,Chautauqua,0.0,0.0,16341.0,2.848860e+05,2.075905e+05,77295.500000,78043.763286,4.0
66,2012,Chautauqua,0.0,0.0,18027.0,2.947298e+05,2.166861e+05,78043.763286,78209.986143,3.0
126,2013,Chautauqua,1456.0,15880.0,17336.0,2.965818e+05,2.183718e+05,78209.986143,78415.195286,2.0
186,2014,Chautauqua,1569.0,17505.0,19074.0,3.107828e+05,2.323677e+05,78415.195286,NaN,1.0
7,2011,Chemung,0.0,0.0,12741.0,2.368654e+05,1.801977e+05,56667.642857,56199.245857,2.0
67,2012,Chemung,0.0,0.0,14415.0,2.428123e+05,1.866131e+05,56199.245857,56632.257143,4.0
...,...,...,...,...,...,...,...,...,...,...
172,2013,Tompkins,177.0,2845.0,3022.0,3.051010e+05,2.441337e+05,60967.270429,61237.795857,2.0
232,2014,Tompkins,664.0,3267.0,3931.0,3.209829e+05,2.597451e+05,61237.795857,NaN,1.0
53,2011,Ulster,0.0,0.0,11956.0,5.606966e+05,4.342711e+05,126425.428571,117985.690000,1.0
113,2012,Ulster,0.0,0.0,13950.0,5.632413e+05,4.452556e+05,117985.690000,123172.881000,4.0
173,2013,Ulster,3313.0,11625.0,14938.0,5.644883e+05,4.413155e+05,123172.881000,124223.312143,3.0
233,2014,Ulster,3481.0,15442.0,18923.0,5.927201e+05,4.684968e+05,124223.312143,NaN,2.0
54,2011,Warren,0.0,0.0,3760.0,2.041009e+05,1.631027e+05,40998.214286,39138.353857,1.0
114,2012,Warren,0.0,0.0,4211.0,2.103827e+05,1.712444e+05,39138.353857,39930.303143,4.0
174,2013,Warren,952.0,3499.0,4451.0,2.123373e+05,1.724070e+05,39930.303143,39586.972857,2.0
234,2014,Warren,804.0,4038.0,4842.0,2.208109e+05,1.812239e+05,39586.972857,NaN,3.0
55,2011,Washington,0.0,0.0,2923.0,1.357735e+05,9.942307e+04,36350.428571,37489.982286,4.0
115,2012,Washington,0.0,0.0,3384.0,1.488997e+05,1.114097e+05,37489.982286,38388.059000,3.0
175,2013,Washington,403.0,2445.0,2848.0,1.496736e+05,1.112855e+05,38388.059000,39047.756429,2.0
235,2014,Washington,448.0,3424.0,3872.0,1.565309e+05,1.174831e+05,39047.756429,NaN,1.0
56,2011,Wayne,0.0,0.0,2480.0,2.563432e+05,1.913881e+05,64955.142857,63648.229000,2.0
116,2012,Wayne,0.0,0.0,4462.0,2.570766e+05,1.934283e+05,63648.229000,64423.267143,4.0
176,2013,Wayne,962.0,3362.0,4324.0,2.596586e+05,1.952353e+05,64423.267143,65455.804857,3.0
236,2014,Wayne,1025.0,4504.0,5529.0,2.652415e+05,1.997857e+05,65455.804857,NaN,1.0
57,2011,Westchester,0.0,0.0,49776.0,7.660568e+06,6.813737e+06,846830.928571,846526.679929,3.0
117,2012,Westchester,0.0,0.0,54489.0,8.871705e+06,8.025178e+06,846526.679929,889191.973786,4.0
177,2013,Westchester,7323.0,51314.0,58637.0,8.599607e+06,7.710415e+06,889191.973786,855805.232857,1.0
237,2014,Westchester,8009.0,62073.0,70082.0,9.441497e+06,8.585691e+06,855805.232857,NaN,2.0
58,2011,Wyoming,0.0,0.0,1932.0,1.004673e+05,7.472964e+04,25737.642857,24545.942429,2.0
118,2012,Wyoming,0.0,0.0,2197.0,1.007834e+05,7.623746e+04,24545.942429,25455.456000,4.0
178,2013,Wyoming,197.0,1870.0,2067.0,1.024760e+05,7.702054e+04,25455.456000,25953.290857,3.0
238,2014,Wyoming,226.0,2033.0,2259.0,1.062215e+05,8.026825e+04,25953.290857,NaN,1.0
59,2011,Yates,0.0,0.0,608.0,6.009129e+04,4.457064e+04,15520.642857,15169.610143,2.0
119,2012,Yates,0.0,0.0,960.0,5.548559e+04,4.031598e+04,15169.610143,15511.728714,4.0
179,2013,Yates,302.0,629.0,931.0,5.665241e+04,4.114068e+04,15511.728714,15609.791286,3.0
239,2014,Yates,289.0,1133.0,1422.0,6.016016e+04,4.455037e+04,15609.791286,NaN,1.0

In [42]:
# sum by country
df2 = df.groupby('county')['deductions'].sum().reset_index(name = 'sum')
df2.head()

        county           sum
0       Albany  8.703391e+05
1     Allegany  1.055482e+05
2        Bronx  3.197094e+06
3       Broome  5.090993e+05
4  Cattaraugus  1.851089e+05

In [44]:
# see ratio 
df3 = df.merge(df2, on = 'county', how = 'inner')
df3['ratio'] = df3['deductions']/df3['sum']
df3.head()

,year,county,Dual,Non Dual,Total,agi,taxable_income,deductions,next_year_deductions,rank,sum,ratio
0,2011,Albany,0.0,0.0,29612.0,1.096756e+06,884399.000000,212357.428571,213977.681429,4.0,870339.051143,0.243994
1,2012,Albany,0.0,0.0,31181.0,1.156916e+06,942938.136571,213977.681429,219653.871714,3.0,870339.051143,0.245856
2,2013,Albany,5188.0,23733.0,28921.0,1.141294e+06,921640.012000,219653.871714,224350.069429,2.0,870339.051143,0.252377
3,2014,Albany,4994.0,28303.0,33297.0,1.204678e+06,980327.876714,224350.069429,NaN,1.0,870339.051143,0.257773
4,2011,Allegany,0.0,0.0,3948.0,9.482986e+04,68311.642857,26518.214286,26220.548000,2.0,105548.227143,0.251243